WindowsFormsApplication1/Service References/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53552/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53552/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53552/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_validarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:validarLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_validarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:validarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_procurarUtilizadores_InputMessage">
    <wsdl:part name="parameters" element="tns:procurarUtilizadores" />
  </wsdl:message>
  <wsdl:message name="IService1_procurarUtilizadores_OutputMessage">
    <wsdl:part name="parameters" element="tns:procurarUtilizadoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_alterarSuspensao_InputMessage">
    <wsdl:part name="parameters" element="tns:alterarSuspensao" />
  </wsdl:message>
  <wsdl:message name="IService1_alterarSuspensao_OutputMessage">
    <wsdl:part name="parameters" element="tns:alterarSuspensaoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionarUtilizador_InputMessage">
    <wsdl:part name="parameters" element="tns:adicionarUtilizador" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionarUtilizador_OutputMessage">
    <wsdl:part name="parameters" element="tns:adicionarUtilizadorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_alterarUtilizador_InputMessage">
    <wsdl:part name="parameters" element="tns:alterarUtilizador" />
  </wsdl:message>
  <wsdl:message name="IService1_alterarUtilizador_OutputMessage">
    <wsdl:part name="parameters" element="tns:alterarUtilizadorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_procurarUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:procurarUtente" />
  </wsdl:message>
  <wsdl:message name="IService1_procurarUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:procurarUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_procurarSintomas_InputMessage">
    <wsdl:part name="parameters" element="tns:procurarSintomas" />
  </wsdl:message>
  <wsdl:message name="IService1_procurarSintomas_OutputMessage">
    <wsdl:part name="parameters" element="tns:procurarSintomasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_procurarDiagnosticos_InputMessage">
    <wsdl:part name="parameters" element="tns:procurarDiagnosticos" />
  </wsdl:message>
  <wsdl:message name="IService1_procurarDiagnosticos_OutputMessage">
    <wsdl:part name="parameters" element="tns:procurarDiagnosticosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/validarLogin" message="tns:IService1_validarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/validarLoginResponse" message="tns:IService1_validarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="procurarUtilizadores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/procurarUtilizadores" message="tns:IService1_procurarUtilizadores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/procurarUtilizadoresResponse" message="tns:IService1_procurarUtilizadores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="alterarSuspensao">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/alterarSuspensao" message="tns:IService1_alterarSuspensao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/alterarSuspensaoResponse" message="tns:IService1_alterarSuspensao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="adicionarUtilizador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/adicionarUtilizador" message="tns:IService1_adicionarUtilizador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/adicionarUtilizadorResponse" message="tns:IService1_adicionarUtilizador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="alterarUtilizador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/alterarUtilizador" message="tns:IService1_alterarUtilizador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/alterarUtilizadorResponse" message="tns:IService1_alterarUtilizador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="procurarUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/procurarUtente" message="tns:IService1_procurarUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/procurarUtenteResponse" message="tns:IService1_procurarUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="procurarSintomas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/procurarSintomas" message="tns:IService1_procurarSintomas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/procurarSintomasResponse" message="tns:IService1_procurarSintomas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="procurarDiagnosticos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/procurarDiagnosticos" message="tns:IService1_procurarDiagnosticos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/procurarDiagnosticosResponse" message="tns:IService1_procurarDiagnosticos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/validarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procurarUtilizadores">
      <soap:operation soapAction="http://tempuri.org/IService1/procurarUtilizadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alterarSuspensao">
      <soap:operation soapAction="http://tempuri.org/IService1/alterarSuspensao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adicionarUtilizador">
      <soap:operation soapAction="http://tempuri.org/IService1/adicionarUtilizador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alterarUtilizador">
      <soap:operation soapAction="http://tempuri.org/IService1/alterarUtilizador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procurarUtente">
      <soap:operation soapAction="http://tempuri.org/IService1/procurarUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procurarSintomas">
      <soap:operation soapAction="http://tempuri.org/IService1/procurarSintomas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procurarDiagnosticos">
      <soap:operation soapAction="http://tempuri.org/IService1/procurarDiagnosticos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53552/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>