WindowsFormsApplication1/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="UtilizadorWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Morada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NInterno" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suspensao" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoUtilizador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilizadorWeb" nillable="true" type="tns:UtilizadorWeb" />
  <xs:complexType name="ArrayOfUtilizadorWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtilizadorWeb" nillable="true" type="tns:UtilizadorWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtilizadorWeb" nillable="true" type="tns:ArrayOfUtilizadorWeb" />
  <xs:complexType name="UtenteWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apelido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatimentoCardiaco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colestrol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Glicemia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Morada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimeiroNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saturacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SnsId" type="xs:int" />
      <xs:element minOccurs="0" name="Tensao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtenteWeb" nillable="true" type="tns:UtenteWeb" />
  <xs:complexType name="ArrayOfSintomaWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SintomaWeb" nillable="true" type="tns:SintomaWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSintomaWeb" nillable="true" type="tns:ArrayOfSintomaWeb" />
  <xs:complexType name="SintomaWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SintomaWeb" nillable="true" type="tns:SintomaWeb" />
  <xs:complexType name="ArrayOfDiagnosticoWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiagnosticoWeb" nillable="true" type="tns:DiagnosticoWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnosticoWeb" nillable="true" type="tns:ArrayOfDiagnosticoWeb" />
  <xs:complexType name="DiagnosticoWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiagnosticoWeb" nillable="true" type="tns:DiagnosticoWeb" />
  <xs:complexType name="ArrayOfMedicacaoWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicacaoWeb" nillable="true" type="tns:MedicacaoWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicacaoWeb" nillable="true" type="tns:ArrayOfMedicacaoWeb" />
  <xs:complexType name="MedicacaoWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Administracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comparticao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dosagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NomeMedicamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicacaoWeb" nillable="true" type="tns:MedicacaoWeb" />
  <xs:complexType name="ArrayOfUtenteWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtenteWeb" nillable="true" type="tns:UtenteWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtenteWeb" nillable="true" type="tns:ArrayOfUtenteWeb" />
</xs:schema>