WindowsFormsApplication1/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="UtilizadorWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Morada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NInterno" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suspensao" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoUtilizador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilizadorWeb" nillable="true" type="tns:UtilizadorWeb" />
  <xs:complexType name="ArrayOfUtilizadorWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtilizadorWeb" nillable="true" type="tns:UtilizadorWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtilizadorWeb" nillable="true" type="tns:ArrayOfUtilizadorWeb" />
</xs:schema>